<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <span>Factory example app</span>
</mat-toolbar>
<mat-vertical-stepper>
    <mat-step label="Product Description">
      <div>
          <app-product-description></app-product-description>
      </div>
    </mat-step>
    <mat-step label="Delivery definitions">
      <div>
          To be done 
      </div>
    </mat-step>
    <mat-step label="Demand adjustments">
        <div>
          To be done
        </div>
      </mat-step>
      <mat-step label="Checks">
          <div>
              To be done

          </div>
        </mat-step>
  </mat-vertical-stepper>


